{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="text-center mb-2">
        <div class="text-center">
            <img src="{{asset('image/logo.png')}}" class="img-fluid mb-5 mt-4" alt="urbanarena logo">
        </div>
        <h2 class="h1 orange font">Autun</h2>
        <button class="p-3 mb-2 text-white btn btn-danger"><a href="{{ path('autunMenu') }} " class="button">Accéder à urbanarena
                d'Autun</a></button>
        <div class="d-flex flex-sm-row pt-2">
            <!--Carousel Wrapper-->
            <div id="carouselAutunControl" class="carousel slide carousel-fade mw-75 mx-auto" style=" width : 700px;"
                data-ride="carousel">
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/fusil1.jpg')}}" alt="First slide">
                            <div class="mask rgba-black-light"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/arcade.jpg')}}" alt="Second slide">
                            <div class="mask rgba-black-strong"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/terrain.jpg')}}" alt="Third slide">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                    </div>
                </div>
                <!--/.Slides-->
            </div>
            <!--/.Carousel Wrapper-->
        </div>
    </div>
</div>

<div class="container">
    <div class="text-center pt-4 mb-5">
        <h2 class="h1 orange font">Chamonix</h2>
        <button class="p-3 mb-2 btn btn-danger text-white"><a href="{{ path('chamonixMenu') }}" class="button">Accéder à urbanarena de
                Chamonix</a></button>
        <div class="d-flex flex-sm-row pt-2">
            <!--Carousel Wrapper-->
            <div id="carouselChamonixControl" class="carousel slide carousel-fade mw-75 mx-auto" style=" width : 700px;"
                data-ride="carousel">
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/bubble2.jpg')}}" alt="First slide">
                            <div class="mask rgba-black-light"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/hache2.jpg')}}" alt="Second slide">
                            <div class="mask rgba-black-strong"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/bubble.jpg')}}" alt="Third slide">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                    </div>
                </div>
                <!--/.Slides-->
            </div>
            <!--/.Carousel Wrapper-->
        </div>
    </div>
</div> <br>
<br>
{% endblock %}