{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
<header>
    {% set route = app.request.attributes.get('_route') %}
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if route == 'accueil' %} active{% endif %}">
                    <a class="nav-link h2 font" href="{{ path('accueil') }}">Urban arena</a>
                </li>
            </ul>
            <ul class="navbar-nav text-right">
                <li class="nav-item{% if route == 'laserGameAutun' %} active{% endif %}">
                    <a class="nav-link h2 font" href="{{ path('laserGameAutun') }}">Laser Game</a>
                </li>
                <li class="nav-item{% if route == 'bubbleFootAutun' %} active{% endif %}">
                    <a class="nav-link h2 font" href="{{ path('bubbleFootAutun') }}">Bubble Foot</a>
                </li>
                <li class="nav-item{% if route == 'lancerHacheAutun' %} active{% endif %}">
                    <a class="nav-link h2 font" href="{{ path('lancerHacheAutun') }}">Lancer de hache</a>
                </li>
                <li class="nav-item{% if route == 'salleGaming' %} active{% endif %}">
                    <a class="nav-link h2 font" href="{{ path('salleGaming') }}">Salle Gaming</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
 <div class="text-center pt-4 mb-4">
    <h2 class="h1 orange font">Urban arena de Autun</h2>
</div>
<div class="container wrapper">
   
    <div class="row">
        <!--Carousel Wrapper-->
        <div class="one">
            <div id="carouselAutunControl" class="carousel slide carousel-fade pr-4 mw-50" style=" width : 500px;"  data-ride="carousel">
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/fusil1.jpg')}}"
                                alt="First slide">
                            <div class="mask rgba-black-light"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/gaming.jpg')}}"
                                alt="Second slide">
                            <div class="mask rgba-black-strong"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/arcade.jpg')}}"
                                alt="Third slide">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/laserTir2.jpg')}}"
                                alt="Third slide">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                    </div>
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carouselAutunControl" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselAutunControl" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
        </div>

        <!--/.Carousel Wrapper-->
    </div>
    <div class="map-responsive two">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d680.8310495565636!2d4.309830829262435!3d46.95531991409245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f23916f9ad3bdd%3A0x8fd3f81bd97f117a!2s13%20Rue%20du%20Th%C3%A9atre%20Romain%2C%2071400%20Autun!5e0!3m2!1sfr!2sfr!4v1579702412426!5m2!1sfr!2sfr"
            width="450" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe><br>
    </div>
    <div class="three">
        <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum eveniet temporibus corporis amet quaerat dolor nemo odit eaque, nisi placeat beatae pariatur esse. Distinctio cupiditate nulla ipsam vitae, ullam rerum.</p>
    </div>
    

</div>  
<br>






{% endblock %}