{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block body %}
<header>
    {% set route = app.request.attributes.get('_route') %}
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if route == 'autunMenu' %} active{% endif %}">
                    <a class="nav-link h2 font" href="{{ path('autunMenu') }}">Autun</a>
                </li>
            </ul>
            <ul class="navbar-nav text-right">
                <li class="nav-item{% if route == 'laserGameAutun' %} active{% endif %}">
                    <a class="nav-link h2 font" href="{{ path('laserGameAutun') }}">Laser Game</a>
                </li>
                <li class="nav-item{% if route == 'bubbleFootAutun' %} active{% endif %}">
                    <a class="nav-link h2 font" href="{{ path('bubbleFootAutun') }}">Bubble Foot</a>
                </li>
                <li class="nav-item{% if route == 'lancerHacheAutun' %} active{% endif %}">
                    <a class="nav-link h2 font" href="{{ path('lancerHacheAutun') }}">Lancer de hache</a>
                </li>
                <li class="nav-item{% if route == 'salleGaming' %} active{% endif %}">
                    <a class="nav-link h2 font" href="{{ path('salleGaming') }}">Salle Gaming</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container gridy">
    <div class="row pt-4 mt-2">
        <!--Carousel Wrapper-->
        <div class="one">
            <div id="carouselAutunControl" class="carousel slide carousel-fade pr-4 mw-50" style=" width : 380px;" data-ride="carousel">
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/bubble.jpg')}}"
                                alt="First slide">
                            <div class="mask rgba-black-light"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/bubble2.jpg')}}"
                                alt="Second slide">
                            <div class="mask rgba-black-strong"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/bubble3.jpeg')}}"
                                alt="Third slide">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/bubble4.jpeg')}}"
                                alt="Fourth slide">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/bubble5.jpeg')}}"
                                alt="Fifth slide">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/bubble6.jpeg')}}"
                                alt="Sixth slide">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                    </div>
                </div>
                <!--/.Slides-->
            </div>
        </div>

        <!--/.Carousel Wrapper-->
    </div>
    <div class="map-responsive two pt-5 mt-2 text-white">  

    <p>(Photos prisent à urban arena de Chamonix)</p>
    <br>
        <p class="h5">Le Bubble football est un loisir sportif consistant à jouer une partie de football dans des bulles gonflables en plastique transparent qui ne laissent dépasser que les jambes des joueurs. Ces derniers peuvent entrer en collision avec leurs adversaires pour les faire tomber sans leur faire mal
        Venez vous affronté en 3 contre 3 maximum. 
        </p><br>
    </div>
    <div class="text-center text-white">
        <h2 class="font h2">Tarif bubble foot:</h2>
        <p class="h5">10€/personne pour 30 min de jeux </p>
        <br>
        <br>
    </div>
</div>
<br>
{% endblock %}
