{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block body %}
<header>
    {% set route = app.request.attributes.get('_route') %}
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if route == 'accueil' %} active{% endif %}">
                    <a class="nav-link h2 font" href="{{ path('accueil') }}"><img src="{{asset('image/logo.png')}}" class="" style="width:170px;" alt="urbanarena logo"></a>
                </li>
            </ul>
            <ul class="navbar-nav text-right">
                <li class="nav-item{% if route == 'laserGameChamonix' %} active{% endif %}">
                    <a class="nav-link h2 font" href="{{ path('laserGameChamonix') }}">Laser Game</a>
                </li>
                <li class="nav-item{% if route == 'bubbleFootChamonix' %} active{% endif %}">
                    <a class="nav-link h2 font" href="{{ path('bubbleFootChamonix') }}">Bubble Foot</a>
                </li>
                <li class="nav-item{% if route == 'lancerHacheChamonix' %} active{% endif %}">
                    <a class="nav-link h2 font" href="{{ path('lancerHacheChamonix') }}">Lancer de hache</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="text-center pt-4 mb-4">
    <h2 class="h1 orange font">Urban arena de Chamonix</h2>
</div>
<div class="container gridy">

    <div class="row">
        <!--Carousel Wrapper-->
        <div class="one">
            <div id="carouselChamonixControl" class="carousel slide carousel-fade pr-4 mw-50" style=" width : 380px;" data-ride="carousel">
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/bubble2.jpg')}}"
                                alt="First slide">
                            <div class="mask rgba-black-light"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/laserTir.jpg')}}"
                                alt="Second slide">
                            <div class="mask rgba-black-strong"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/bubble.jpg')}}"
                                alt="Third slide">
                            <div class="mask rgba-black-slight"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="view">
                            <img class="d-block w-100" src="{{asset('image/hache2.jpg')}}"
                                alt="Fourth slide">
                            <div class="mask rgba-black-light"></div>
                        </div>
                    </div>
                </div>
                <!--/.Slides-->
            </div>
        </div>

        <!--/.Carousel Wrapper-->
    </div>
    <br>
    <div class="map-responsive two">
        <div class="map-responsive">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5550.551945838172!2d6.868779153442395!3d45.925783783303!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb5980891bfd205c7!2sURBAN%20ARENA%20CHAMONIX!5e0!3m2!1sfr!2sfr!4v1579775543271!5m2!1sfr!2sfr"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
    <div class="three">
        <p class="text-white h5">Lasergame Chamonix vous accueil à l'intérieur du parc de la folie douce,avec ses différentes activités,lasergame, bubblefoot et lancer de hache, le tout en extérieur, qui vous sauront proposé. Venez avec des amis ou en familles que ce soit pour vous amusez ou pour un anniversaire et passer des moment inoubliable.</p>
    </div>
</div>
<br>
{% endblock %}