{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block body %}
<header>
    {% set route = app.request.attributes.get('_route') %}
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if route == 'autunMenu' %} active{% endif %}">
                    <a class="nav-link h2" href="{{ path('autunMenu') }}">Autun</a>
                </li>
            </ul>
            <ul class="navbar-nav text-right">
                <li class="nav-item{% if route == 'laserGameAutun' %} active{% endif %}">
                    <a class="nav-link h2" href="{{ path('laserGameAutun') }}">Laser Game</a>
                </li>
                <li class="nav-item{% if route == 'bubbleFootAutun' %} active{% endif %}">
                    <a class="nav-link h2" href="{{ path('bubbleFootAutun') }}">Bubble Foot</a>
                </li>
                <li class="nav-item{% if route == 'lancerHacheAutun' %} active{% endif %}">
                    <a class="nav-link h2" href="{{ path('lancerHacheAutun') }}">Lancer de hache</a>
                </li>
                <li class="nav-item{% if route == 'salleGaming' %} active{% endif %}">
                    <a class="nav-link h2" href="{{ path('salleGaming') }}">Salle Gaming</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="row">
    <!--Carousel Wrapper-->
    <div class="">
        <div id="carouselAutunControl" class="carousel slide carousel-fade" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                <li data-target="#carousel-example-2" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg"
                            alt="First slide">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Light mask</h3>
                        <p>First text</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg"
                            alt="Second slide">
                        <div class="mask rgba-black-strong"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Strong mask</h3>
                        <p>Secondary text</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg"
                            alt="Third slide">
                        <div class="mask rgba-black-slight"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Slight mask</h3>
                        <p>Third text</p>
                    </div>
                </div>
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carouselAutunControl" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselAutunControl" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
    </div>

    <!--/.Carousel Wrapper-->
</div>    
{% endblock %}
