{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block body %}
<header>
    {% set route = app.request.attributes.get('_route') %}
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if route == 'autunMenu' %} active{% endif %}">
                    <a class="nav-link h2" href="{{ path('autunMenu') }}">Autun</a>
                </li>
            </ul>
            <ul class="navbar-nav text-center">
                <li class="nav-item{% if route == 'accueil' %} active{% endif %}">
                    <a class="nav-link h2" href="{{ path('accueil') }}">Urban arena</a>
                </li>
            </ul>
            <ul class="navbar-nav text-right">
                <li class="nav-item{% if route == 'laserGameAutun' %} active{% endif %}">
                    <a class="nav-link h2" href="{{ path('laserGameAutun') }}">Laser Game</a>
                </li>
                <li class="nav-item{% if route == 'bubbleFootAutun' %} active{% endif %}">
                    <a class="nav-link h2" href="{{ path('bubbleFootAutun') }}">Bubble Foot</a>
                </li>
                <li class="nav-item{% if route == 'lancerHacheAutun' %} active{% endif %}">
                    <a class="nav-link h2" href="{{ path('lancerHacheAutun') }}">Lancer de hache</a>
                </li>
                <li class="nav-item{% if route == 'salleGaming' %} active{% endif %}">
                    <a class="nav-link h2" href="{{ path('salleGaming') }}">Salle Gaming</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
    
{% endblock %}
